@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;0,700;1,600;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --scissor-light: hsl(40, 84%, 53%);
    --scissor-dark: hsl(39, 89%, 49%);
    --paper-light: hsl(230, 89%, 65%);
    --paper-dark: hsl(230, 89%, 62%);
    --rock-light: hsl(349, 70%, 56%);
    --rock-dark: hsl(349, 71%, 52%);
    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --header-outline: hsl(217, 16%, 45%);
    --bg-light: hsl(214, 47%, 23%);
    --bg-dark: hsl(237, 49%, 15%);
}

body {
    font-family: 'Barlow Semi Condensed';
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(var(--bg-light), var(--bg-dark));
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--score-text);
    border: solid 3px var(--header-outline);
    border-radius: 6px;
    margin: 1.5rem;
    padding: 0.6rem;
    height: 85px;
}

header img {
    height: 70%;
    margin-left: 0.5rem;
}

header .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 3px;
    width: 65px;
    height: 100%;
    line-height: 1.4rem;
}

header .score--text {
    font-size: 9px;
    font-weight: 700;
    margin-top: 0.2rem;
    letter-spacing: 0.1rem;
}

header #score--value {
    font-size: 34px;
    font-weight: 700;
    color: var(--dark-text);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

main .main--triangle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15%;
    background-image: url(images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 180px;
    width: 300px;
    height: 250px;
}

main .option--border {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
    border-radius: 100px;
    border-bottom: solid 5px rgba(0, 0, 0, 0.36);
}

main #option--paper {
    background-image: linear-gradient(var(--paper-light), var(--paper-dark)) ;
}

main #option--rock {
    background-image: linear-gradient(var(--rock-light), var(--rock-dark)) ;
}

main #option--scissor {
    background-image: linear-gradient(var(--scissor-light), var(--scissor-dark));
}

main .option {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border-top: solid 5px rgba(0, 0, 0, 0.161);
}

main .option img {
    height: 40px;
}

main #option--rock img {
    height: 30px;
}

main button {
    font-family: 'Barlow Semi Condensed';
    color: white;
    background-color: transparent;
    border: solid 1.5px white;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    letter-spacing: 2px;
    margin-top: 80px;
    cursor: pointer;
}

main button:hover {
    background-color: white;
    color: var(--bg-dark);
}

#rules--modal p {
    color: var(--bg-light);
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    top: 13%;
}

.modal--invisible {
    display: none;
}

.modal--visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(244, 244, 244);
}

#close--modal {
    position: absolute;
    bottom: 80px;
}

footer {
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    width: 100%;
    color: var(--header-outline);
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--paper-light);
}